<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Login and Registration</title>
    <style >
    form{
      padding: 3%
    }
    .legend{
      width: 50%;
    }

    </style>
  </head>
  <body>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message%} class="{{ message}}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/register" method="POST">
      {%csrf_token%}
      <fieldset>
        <legend>Registration:</legend>
        Name:<br>
        <input type="text" name="name" ><br>
        Username:<br>
        <input type="text" name="username" ><br>
        Password:<br>
        <input type="password" name="password" ><br>
        <p>*Password should be at least 8 characters</p>
        Comfirm Password:<br>
        <input type="password" name="cpassword" ><br><br>
        <input type="submit" value="Register">
      </fieldset>
    </form>
    <form action="/login" method="POST">
      {%csrf_token%}
      <fieldset>
        <legend>Login:</legend>
        Username:<br>
        <input type="text" name="username" ><br>
        Password:<br>
        <input type="password" name="password" ><br><br>
        <input type="submit" value="Login">
      </fieldset>
    </form>
  </body>
</html>
>
